extends layout

block content
  .container.bgClr.textClr.p-3
    form
      input(type="radio", id="celsius" name="unit", value="1", checked="checked").textClr
      |  Celsius
      br
      input(type="radio", id="fahrenheit" name="unit", value="0").textClr
      |  Fahrenheit
      br
      node      
      br
      input(type="text", id="textcity", name="textcity", placeholder="Enter a city", onfocus="this.value=''").form-control
      br
      h4#errmsg
      br
      input(type="submit", value="Submit").btn.btn-danger
  div.container
    ul#cities