extends layout

block content
    h1= title
    p Welcome to #{title}
    form
      input(type="text", id="textcity", name="textcity", placeholder="Enter a city")
      input(type="submit", value="Submit")

