extends layout

block content
  .container
    h1.heading= title
    p Welcome to #{title}
    p Detta är ett litet test
    form
      input(type="text", id="textcity", name="textcity", placeholder="Enter a city")
      input(type="submit", value="Submit")
  div.container
    ul#cities

