doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="CSS by O. Harrysson")
  body
    p.display-3.titletxt SIMPLE WEATHER APP
      span.titlespan BY TROJAN64
    br

    block content

    br
    footer.page-footer
      .container
        p.textClr Made by Team Trojan64
  script(src="/javascripts/main.js")


