doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    footer.page-footer
      .container
        p made by Joel
  script(src="/javascripts/main.js")

