body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aquamarine;
}

a {
  color: #00B7FF;
}

.container{
  border: black solid 1px;
  padding: 20px;
  background-color: darkturquoise; 
}

.page-footer .container {
  padding: 10px;
  background-color: white;
  text-align: right;
}
